<div id="scrollValue"></div>
<div id="center"></div>
<canvas id="sample1" style="background-color:#ffffff;">
</canvas>

<script type="text/javascript">
<!--

var canvas, context, b, d;
var centerX, centerY, scroll;
var boxsize;
var list_y_adj;
var list_x_adj;

window.onload = function() {
  setCenter();
  init();
}

function init() {
  canvas = document.getElementById('sample1');
  canvas.height = 4000;
  context = canvas.getContext('2d');
  b = document.body;
  d = document.documentElement;
  canvas.width = Math.max(b.clientWidth , b.scrollWidth, d.scrollWidth, d.clientWidth);
  boxsize = 170;
  scroll = 0;
  list_y_adj = new Array(0, 20, 10, 7, 6, 5, 4);
  list_x_adj = new Array(24, 12, 0, -12, -24);
  dot();
  for (l = 0; l < 7; l++) {
    layer(l);
  }
}

function draw(x, y, scroll, size) {
  if (canvas.getContext) {
    context.globalAlpha = 0.2;
    context.fillRect(x, y+scroll, size, size); 
    context.fill();
  }
}

function layer(layNum){
  var x,y,adjY,adjusted,abs;
  var startPoint;
  var layBoxSize;;

  for (h=0; h<5; h++){
    startPoint = 85 - (layNum * 4);
    layBoxSize = boxsize - (8 * (layNum + 1));

    // 四角形の左上
    x = centerX - startPoint;
    if (h==0) {
      x = x - 600
    } else if (h==1) {
      x = x - 300
    } else if (h==2) {
      x = x - 0
    } else if (h==3) {
      x = x + 300
    } else if (h==4) {
      x = x + 600
    }
    y = centerY - startPoint - scroll;

    adjusted = 0;
    for (i=0; i<10; i++){
      if (layNum > 0) {
        abs = centerY - y - startPoint;
        adjY = Math.floor(Math.abs(abs) / list_y_adj[layNum]);

        if ((y + startPoint) < centerY){
          adjusted = y + adjY;
        } else if ((y + startPoint) > centerY) {
          adjusted = y - adjY;
        } else if (y + startPoint == centerY){
          adjusted = y;
        }
      } else {
        adjusted = y;
      }
      draw(x + layNum * list_x_adj[h], adjusted, 0, layBoxSize);
      y = y + 300;
    }
  }
}

$(function() {
  $(window).scroll(function() {
    setCenter();
    scroll = $(this).scrollTop();
    $('#scrollValue').text($(this).scrollTop());
    $('#center').text(centerX + ", " + centerY);
    canvas.height = 4000;
    dot();
    for (l = 0; l < 7; l++) {
      layer(l);
    }
  });
});

function setCenter(){
  centerX = $(window).width() / 2;
  centerY = $(window).scrollTop() + 340;
}

function dot() {
  if (canvas.getContext) {
    context.beginPath();
    context.arc(centerX, centerY, 3, Math.PI*2, false);
    context.fill();
  }
}

// -->
</script>
