<div id="scrollValue"></div>
<a href="javascript:rewrite()">rewrite</a>
<canvas id="sample1" style="background-color:#ffffff;">
</canvas>

<div class="site_wrap wrap">
  <h2>jParallax Demos <a href="stalkbuttons.html">next</a></h2>

  <div id="port">
    <!-- Seven image layers, each layer slightly bigger than the one behind, making 'closer' layers move faster. -->
    <img class="parallax-layer" src="../images/parallax_drops/0.png" alt="" style="width:978px; height:325px;"/>
    <img class="parallax-layer" src="../images/parallax_drops/1.png" alt="" style="width:987px; height:328px;"/>
    <img class="parallax-layer" src="../images/parallax_drops/2.png" alt="" style="width:1001px; height:333px;"/>
    <img class="parallax-layer" src="../images/parallax_drops/3.png" alt="" style="width:1031px; height:343px;"/>
    <img class="parallax-layer" src="../images/parallax_drops/4.png" alt="" style="width:1067px; height:355px;"/>
    <img class="parallax-layer" src="../images/parallax_drops/5.png" alt="" style="width:1120px; height:373px;"/>
    <img class="parallax-layer" src="../images/parallax_drops/6.png" alt="" style="width:1200px; height:400px;"/>

    <!-- Rounded corners -->
    <img src="http://stephband.info/images/corner_dark_tl.png" class="tl" />
    <img src="http://stephband.info/images/corner_dark_tr.png" class="tr" />
    <img src="http://stephband.info/images/corner_dark_bl.png" class="bl" />
    <img src="http://stephband.info/images/corner_dark_br.png" class="br" />
  </div>
</div>

<link rel="stylesheet" href="../css/jquery.parallax.css" />
<style type="text/css" media="screen, projection">
  #port {
    background: rgb(47, 49, 52);
    margin: 1.5em 0px;
    overflow: hidden;
    position: relative;
    height: 300px;
  }
</style>

<script type="text/javascript">
jQuery(document).ready(function(){
  // Declare parallax on layers
  jQuery('.parallax-layer').parallax({
    mouseport: jQuery("#port")
  });
});
</script>

<script type="text/javascript">
<!--
$(function() {
  $(window).scroll(function() {
    var value = $(this).scrollTop();  //スクロール値を取得
    $('#scrollValue').text(value);
  });
});


// -->
</script>

